@model IEnumerable<stickynotes.Models.Sticky>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="d-flex flex-wrap">
@foreach (var item in Model) {


    <div class="card sticky justify-content-sm-between" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.NoteTitle</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.NoteDate</h6>
            <p class="card-text">@item.NoteText</p>
            <a class="card-link" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            <a class="card-link" asp-action="Details" asp-route-id="@item.ID">Details</a>
        </div>
    </div>

}
</div>